*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.content{
    width: 700px;
    margin: 0 auto;
    margin-top: 80px;
}